<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>db_proj</title>
</head>
<body bgcolor="cyan">
    <center><h1>welcome to django sukumar</h1>
    <h4>enter employee details</h4>
    <form action="data">
        <label for="id">enter emp id  </label>
        <input type="number" name="eid" id=""><br><br>
        <label for="name">enter your name:</label>
        <input type="text" name="ename" ><br><br>
        <label for="des">enter describtion</label>
        <input type="text" name="edes"><br><br>
        <label for="sal">enter salary</label>
        <input type="number" name="sal" id=""><br><br>
        <input type="submit" value="add employe">
    </form>
    </center>
    
</body>
</html>